.App {
  height: 800px;
  width: 100%;
  text-align: center;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto 50% 1fr;
  grid-template-rows: 150px 1fr;
  grid-template-areas:
    "header slider legend"
    "chart chart chart";
}

@media (max-width: 768px) {
  .App {
    grid-template-columns: 100%;
    grid-template-rows: 100px auto auto 1fr;
    grid-template-areas:
      "header"
      "chart"
      "slider"
      "legend";
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chart {
  grid-area: chart;
  width: 100%;
}

.header {
  grid-area: header;
  font-size: 48px;
  text-align: left;
}

.legend {
  grid-area: legend;
}

.slider {
  grid-area: slider;
  font-weight: 400;
  font-size: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 0 auto;
}
